<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUsuarios" />
                <binding name="BasicHttpBinding_IClientes" />
                <binding name="BasicHttpBinding_IMotorizados" />
                <binding name="BasicHttpBinding_IMenus" />
                <binding name="BasicHttpBinding_IPedidos" />
                <binding name="BasicHttpBinding_IAsignaciones" />
                <binding name="BasicHttpBinding_IHistoriales" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50559/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUsuarios" contract="ServiceReference1.IUsuarios"
                name="BasicHttpBinding_IUsuarios" />
            <endpoint address="http://localhost:50559/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IClientes" contract="ServiceReference1.IClientes"
                name="BasicHttpBinding_IClientes" />
            <endpoint address="http://localhost:50559/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMotorizados" contract="ServiceReference1.IMotorizados"
                name="BasicHttpBinding_IMotorizados" />
            <endpoint address="http://localhost:50559/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMenus" contract="ServiceReference1.IMenus"
                name="BasicHttpBinding_IMenus" />
            <endpoint address="http://localhost:50559/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPedidos" contract="ServiceReference1.IPedidos"
                name="BasicHttpBinding_IPedidos" />
            <endpoint address="http://localhost:50559/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAsignaciones" contract="ServiceReference1.IAsignaciones"
                name="BasicHttpBinding_IAsignaciones" />
            <endpoint address="http://localhost:50559/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHistoriales" contract="ServiceReference1.IHistoriales"
                name="BasicHttpBinding_IHistoriales" />
        </client>
    </system.serviceModel>
</configuration>